.installments {
  margin-bottom: 0;
}

.listPrice--summary {
  padding-top: 18px;
}

.listPriceValue {
  color: #787878;
  font-family: "Istok Web", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}

.sellingPrice--shelf {
  padding-left: 22px;
  margin-bottom: 4px;
}

.sellingPriceValue {
  color: #591032;
  font-family: "Istok Web", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.installments--summary {
  margin-bottom: 12px;
  color: #787878;
  font-family: "Istok Web", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.installments--shelf {
  padding-left: 22px;
  margin-bottom: 12px;
  color: #787878;
  font-family: "Istok Web", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.savings--shelf {
  flex: 0 0 44px !important;
  width: 44px !important;
  min-width: 44px !important;
  max-width: 44px !important;
  height: 22px !important;
  border-radius: 50px 0 0 50px;
  background: #1faf38;
  color: #fff;
  font-family: "Istok Web", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: 8px;
  box-sizing: border-box;
  overflow: hidden;
}
