/* PDP MAIN CONTAINER */
.flexRowContent--pdp {
  max-width: 1388px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  align-items: flex-start;
}

.flexCol--stack {
  width: 600px !important;
  min-width: 600px !important;
  height: auto !important;
  align-self: flex-start !important;
}

.flexRowContent--buy-quantity-row {
  justify-content: flex-start !important;
  gap: 12px;
}

.flexRowContent--buy-quantity-row :global(.vtex-button) {
  width: 223px !important;
  flex: none !important;
}

.flexRowContent--description {
  max-width: 1171px;
}

.flexRowContent--share {
  max-width: 1171px;
}
