/* PDP MAIN CONTAINER */
.flexRowContent--pdp {
  max-width: 1388px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  align-items: flex-start;
}

.flexCol--stack {
  width: 600px !important;
  min-width: 600px !important;
  height: auto !important;
  align-self: flex-start !important;
}

.flexRowContent--buy-quantity-row {
  justify-content: flex-start !important;
  gap: 12px;
}

.flexRowContent--buy-quantity-row :global(.vtex-button) {
  width: 223px !important;
  flex: none !important;
}

.flexRow--description {
  margin-top: 48px;
}

.flexRowContent--description {
  width: 1171px;
  max-width: 1171px;
  min-height: 378px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.flexRowContent--share {
  width: 1171px;
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.flexRow--related-shelf {
  margin-top: 50px;
  margin-bottom: 80px;
}

.flexRowContent--related-shelf {
  width: 1388px;
  max-width: 1388px;
  height: 531px;
  border-radius: 3px;
  background: #f5f5f5;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: clip;
}
